include exsclaim/README.md

recursive-include exsclaim *.py
recursive-include exsclaim *.pyi

recursive-include fastapi/api *.py
recursive-include fastapi/api *.pyi

recursive-include dashboard/dashboard *.py
recursive-include dashboard/dashboard *.pyi

include exsclaim/figures/config/yolov3_default_master.cfg
include exsclaim/figures/config/yolov3_default_subfig.cfg
include exsclaim/figures/config/scale_label_reader.json
include exsclaim/figures/scale/corpus.txt

include exsclaim/utilities/setup.sql

include exsclaim/tests/data/nature_test.json
include exsclaim/tests/data/images/pipeline/*
include exsclaim/tests/data/nature_articles/*
include exsclaim/tests/data/nature_search.html
include exsclaim/tests/data/images/scale_bar_test_images/*
include exsclaim/tests/data/images/scale_label_test_images/*
include exsclaim/tests/data/nature_closed_expected.json

include dashboard/dashboard/assets/*.png
include dashboard/dashboard/assets/*.ico