loguru==0.7.3

# Image manipulation
numpy==2.4.4
opencv-contrib-python-headless==4.13.0.92
Pillow==12.2.0
ultralytics==8.4.48

# HTTP requests
aiohttp==3.13.5
httpx==0.28.1
brotli==1.2.0
playwright==1.59.0
urllib3==2.7.0
beautifulsoup4==4.14.3
soupsieve==2.8.3

# Connecting to the PostgreSQL database
asyncpg==0.31.0

# Testing differences in dictionaries
deepdiff==8.6.2

# Used with the Figure Separator
pycocotools==2.0.11

pytz==2026.2
typing_extensions==4.15.0
PyYAML==6.0.3
pymupdf==1.27.2.2

torch==2.11.0
torchvision==0.26.0
pytorch-model-summary==0.1.2

# Run LLMs
ollama==0.6.2
#openai==1.109.1
openai==2.36.0
asksageclient==1.42

# Used with the API
dash[async, compress]==4.1.0
dash-extensions==2.0.5
fastapi[standard]==0.136.1
pydantic==2.13.4
starlette==1.0.0
uvicorn==0.46.0
hypercorn==0.18.0
sqlmodel==0.0.38
sqlalchemy==2.0.49
pydantic_settings==2.14.1
uuid-utils==0.14.1
orjson==3.11.9
# python-ulid[pydantic]==3.1.0

# Used with the Dashboard
dash_bootstrap_components==2.0.4
gunicorn[gevent]==26.0.0
certifi==2026.4.22