version: '3.4'
services:
  postgres:
    image: postgres:11.6
  web:
    restart: always
    environment:
      - DJANGO_SECRET_KEY=local
    build:
      context: ./
      args:
        ENV: dev
      target: base
    command: >
      bash -c "python wait_for_postgres.py &&
               ./manage.py migrate &&
               ./manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./apps:/code/apps
      - ./config:/code/config
      - ./docs:/code/docs
    ports:
      - "8000:8000"
    depends_on:
      - postgres
  # documentation:
  #   restart: always
  #   build: ./
  #   command: "mkdocs serve"
  #   volumes:
  #     - ./:/code
  #   ports:
  #     - "8001:8001"
